= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .question-show
    .question-show-content
      質問内容：
      =@question.title
      .question-container
        = form_with(model: [@question, @questioncomment], local: true, id: "new_questioncomment") do |f|
          = f.text_area :text, placeholder: "コメントする", class: "question-textbox"
          = f.submit "投稿する", class: "question-submit"
      .questioncomments
        %h4 ＜コメント一覧＞
        - if @questioncomments
          - @questioncomments.each do |comment|
            %p
              %strong
                = link_to comment.user.username, "/users/#{comment.user_id}"
                ：
              = comment.text
