= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .question-show
    .question-show-content
      質問内容：
      =@question.title
      .question-container
        - if current_user
          = form_with(model: [@question, @questioncomment], local: true) do |form|
            = form.text_area :text, placeholder: "コメントする"
            = form.submit "投稿する"
        - else
          %strong
            %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
      .question-comments
        %h4 ＜コメント一覧＞
        - @questioncomments.each do |comment|
          %ul
            %li
            = comment.user.username 
            = comment.text