= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .share-show
    .share-showcontent
      共有内容：
      =@share.share
      .share-container
        = form_with(model: [@share, @sharecomment], local: true) do |f|
          = f.text_area :text, placeholder: "コメントする"
          = f.submit "投稿する"
      .share-comments
        %h4 ＜コメント一覧＞
        - @sharecomments.each do |c|
          %ul
            %li
            = c.user.username 
            = c.text


    -# .share-comment
    -#   .share-comment-text
    -#     -@sharecomments.each do |s|
    -#       %ul
    -#         %li
    -#           コメント：
    -#           =s.text
      -# .share-comment-send
      -#   =form_with model: [@share, @sharecomment] do |c|
      -#     %ul 
      -#       %li
      -#         =c.text_area :text, class: 'sharecommmet-box'
      -#       %li  
      -#         =c.submit '投稿する', class: 'sharecomment-sendbtn'