= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .share-show
    .share-showcontent
      共有内容：
      =@share.share
      .share-container
        = form_with(model: [@share, @sharecomment], local: true, id: "new_sharecomment") do |f|
          = f.text_area :text, placeholder: "コメントする", class: "share-textbox"
          = f.submit "投稿する", class: "share-submit"
      .share-comments
        %h4 ＜コメント一覧＞
        - @sharecomments.each do |c|
          %ul
            %li
            = c.user.username 
            = c.text
      -#  <%= form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form| %> 
      -#   <%= form.text_area :text, placeholder: "コメントする" , rows: "2", class: "textbox" %>
      -#   <%= form.submit "SEND", class: "form__submit" %>

    -# .share-comment
    -#   .share-comment-text
    -#     -@sharecomments.each do |s|
    -#       %ul
    -#         %li
    -#           コメント：
    -#           =s.text
      -# .share-comment-send
      -#   =form_with model: [@share, @sharecomment] do |c|
      -#     %ul 
      -#       %li
      -#         =c.text_area :text, class: 'sharecommmet-box'
      -#       %li  
      -#         =c.submit '投稿する', class: 'sharecomment-sendbtn'