= render 'targets/headcontent'
.maincontent
  = render 'targets/leftcontent'
  .share-show
    .share-showcontent
      共有内容：
      =@share.share
      .share-container
        = form_with(model: [@share, @sharecomment], local: true, id: "new_sharecomment") do |f|
          = f.text_area :text, placeholder: "コメントする", class: "share-textbox"
          = f.submit "投稿する", class: "share-submit"
      .sharecomments
        %h4 ＜コメント一覧＞
        - if @sharecomments
          - @sharecomments.each do |comment|
            %p
              %strong
                = link_to comment.user.username, "/users/#{comment.user_id}"
                ：
              = comment.text

